html{
    font-size: 30px;
    font-family: sans-serif;
}
img{
    height: 100%;
    width: 95%;
    display: block;
    text-align: center;
    justify-content: center;
}
#image{
    max-width: 100%;
    height: auto;
    transform: rotate(45deg);
}
h1{
    font-size: 40px;
    font-style: Italic;
    background-color: purple;
}
